.nav-bar{
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.nav-bar li{
    display: block;
    
   
}
.nav-bar li>a{
    text-decoration: none;
    font-size: 1em;
}
.base_team{
    text-align: center;
} 
.conteiner{
    display: flex;
}
.conteiner li{
    display: block;
    text-decoration: none;
}
.foto_list{
    display: flex;
    justify-content: space-between;
  
}
.foto_list li{
    display: block;
    padding: 2em;
    margin: 2em;
    text-decoration: none;
}
.client_list{
    display: flex;
    justify-content: space-between;
}
.client_list li{
    display: block;
}
.foot_bar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(32, 28, 28);
    color: aliceblue;
}
.foot_bar li{
    display: block;
}